.iseno-home-container {
  width: 100%;
  height: fit-content;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.iseno-home-header {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  z-index: 300;
  position: absolute;
  align-self: stretch;
  align-items: center;
  padding-top: 30px;
  border-color: #e3e0e0;
  border-width: 3px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.iseno-home-menu-wrapper {
  flex: 0 0 auto;
  height: 56px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.iseno-home-iseno-logo {
  top: 0px;
  left: 0px;
  width: 56px;
  position: absolute;
  align-self: stretch;
  object-fit: cover;
  padding-bottom: 1px;
}
.iseno-home-link {
  display: contents;
}
.iseno-home-navbar {
  top: 0px;
  left: 0px;
  width: auto;
  height: 56px;
  margin: 0px;
  display: flex;
  position: absolute;
  align-self: center;
  margin-top: auto;
  margin-left: 120px;
  margin-right: auto;
  margin-bottom: auto;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.iseno-home-menu-wrapper-contactbox {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.iseno-home-menu-wrapper-contactbox-link {
  font-size: 20px;
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.iseno-home-menu-wrapper-contactbox-img-wrapper-arrow-img {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  transition: padding-left 0.4s ease;
}
.iseno-home-menu-wrapper-contactbox-img-wrapper-arrow-img:hover {
  padding-left: var(--dl-space-space-halfunit);
}
.iseno-home-hero-section {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: static;
  align-self: center;
  margin-top: 116px;
  max-height: none;
  min-height: auto;
  align-items: stretch;
  padding-top: 15vh;
  padding-left: 9%;
  padding-right: 9%;
  flex-direction: column;
  padding-bottom: 9vh;
  justify-content: space-around;
}
.iseno-home-hero-sectionheading {
  width: 896px;
  text-align: left;
  margin-bottom: 64px;
  background-repeat: repeat-y;
}
.iseno-home-hero-sectionpara-main {
  max-width: 700px;
  margin-bottom: 10px;
}
.iseno-home-hero-sectionpara-secondary {
  height: auto;
  font-size: 22px;
  max-width: 700px;
  margin-top: 16px;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 10px;
  text-transform: none;
  text-decoration: none;
}
.iseno-home-read-more-button-wrapper {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: stretch;
  padding-bottom: 0px;
  justify-content: space-between;
}
.iseno-home-read-more-button-wrapperbox {
  flex: 0 0 auto;
  width: 156px;
  height: 156px;
  display: flex;
  margin-top: 0px;
  margin-right: 80px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-background2);
}
.iseno-home-read-more-button-wrappericon {
  flex: 1;
  width: 156px;
  height: 156px;
  margin-top: 0px;
  object-fit: cover;
  transition: 0.3s;
  margin-right: 80px;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-primary-background2);
}
.iseno-home-read-more-button-wrappericon:hover {
  padding-top: 20px;
}
.iseno-home-mission-section {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 150;
  align-items: flex-start;
  font-weight: 700;
  padding-top: 9vh;
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: column;
  padding-bottom: 9vh;
  background-color: var(--dl-color-primary-background2);
}
.iseno-home-mission-section-heading {
  color: var(--dl-color-gray-text-secondary);
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}
.iseno-home-animated-block-light {
  flex: 0 0 auto;
  width: 232px;
  height: 16px;
  display: flex;
  margin-top: 12px;
  align-items: flex-start;
  background-color: #e5e5e5;
}
.iseno-home-mission-paragraph {
  max-width: 700px;
  padding-top: 64px;
}
.iseno-home-text08 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-family: "DM Sans";
}
.iseno-home-text09 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-family: "DM Sans";
}
.iseno-home-text10 {
  font-size: 22px;
  font-family: "DM Sans";
}
.iseno-home-text11 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-family: "DM Sans";
}
.iseno-home-text12 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-family: "DM Sans";
}
.iseno-home-text13 {
  font-size: 22px;
}
.iseno-home-text14 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-family: "DM Sans";
}
.iseno-home-text15 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-family: "DM Sans";
}
.iseno-home-text16 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-family: "DM Sans";
}
.iseno-home-brands-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  font-weight: 700;
  padding-top: 9vh;
  padding-left: var(--dl-space-space-padding-9pro);
  padding-right: var(--dl-space-space-padding-9pro);
  flex-direction: column;
  padding-bottom: 9vh;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-backround1);
}
.iseno-home-text17 {
  width: auto;
  height: auto;
  z-index: 1000;
  font-size: 36px;
  margin-top: 10px;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 10px;
  text-transform: none;
  text-decoration: none;
}
.iseno-home-text18 {
  width: 100%;
  height: auto;
  z-index: 2000;
  font-size: 68px;
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 120%;
  text-transform: none;
  text-decoration: none;
}
.iseno-home-animated-block-dark {
  flex: 0 0 auto;
  width: 172px;
  height: 16px;
  display: flex;
  z-index: 1000;
  align-self: stretch;
  margin-top: 12px;
  align-items: center;
  background-color: var(--dl-color-primary-background2);
}
.iseno-home-brands-wrapper {
  width: auto;
  height: 100vw;
  display: flex;
  margin-top: 9vh;
  margin-right: 0px;
  padding-left: 16vw;
  flex-direction: column;
}
.iseno-home-team-section {
  width: 100%;
  height: 1910px;
  display: flex;
  position: relative;
  align-items: flex-start;
  font-weight: 700;
  padding-top: 9vh;
  padding-left: var(--dl-space-space-padding-15pro);
  padding-right: var(--dl-space-space-padding-15pro);
  flex-direction: column;
  padding-bottom: 9vh;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-backround1);
}
.iseno-home-text23 {
  z-index: 3000;
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 10px;
}
.iseno-home-text24 {
  z-index: 3000;
}
.iseno-home-text29 {
  width: 40vw;
  height: auto;
  z-index: 3000;
  font-size: 22px;
  align-self: flex-end;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 150%;
  padding-top: 64px;
  padding-right: 1px;
  text-transform: none;
  text-decoration: none;
}
.iseno-home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iseno-home-hero-sectionpara-main1 {
  max-width: 700px;
  margin-bottom: 10px;
}
@media(max-width: 991px) {
  .iseno-home-header {
    width: 100%;
  }
  .iseno-home-menu-wrapper {
    flex-direction: row;
  }
  .iseno-home-menu-wrapper-contactbox {
    align-self: center;
    flex-direction: column;
    justify-content: center;
  }
  .iseno-home-hero-section {
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
    margin-top: 116px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
