.iseno-home-container {
  width: 100%;
  height: fit-content;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.iseno-home-header {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: flex-start;
}
.iseno-home-menu-wrapper {
  flex: 0 0 auto;
  height: 56px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.iseno-home-iseno-logo {
  top: 0px;
  left: 0px;
  width: 56px;
  position: absolute;
  align-self: stretch;
  object-fit: cover;
  padding-bottom: 1px;
}
.iseno-home-link {
  display: contents;
}
.iseno-home-navbar {
  top: 0px;
  left: 0px;
  width: auto;
  height: 56px;
  margin: 0px;
  display: flex;
  position: absolute;
  align-self: center;
  margin-top: auto;
  margin-left: 120px;
  margin-right: auto;
  margin-bottom: auto;
  justify-content: center;
  text-decoration: none;
}
.iseno-home-menu-wrapper-contactbox {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.iseno-home-menu-wrapper-contactbox-link {
  font-size: 20px;
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.iseno-home-menu-wrapper-contactbox-img-wrapper-arrow-img {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  transition: padding-left 0.4s ease;
}
.iseno-home-menu-wrapper-contactbox-img-wrapper-arrow-img:hover {
  padding-left: var(--dl-space-space-halfunit);
}
.iseno-home-hero-section {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 116px;
  max-height: none;
  min-height: auto;
  object-fit: fill;
  align-items: stretch;
  padding-top: 152px;
  padding-left: 9%;
  padding-right: 9%;
  flex-direction: column;
  background-size: cover;
  justify-content: space-around;
  background-image: url('https://iseno.net/images/t%C5%82o-1-iseno-.svg');
  background-repeat: repeat;
  background-position: 0px 0px;
}
.iseno-home-hero-sectionheading {
  width: 896px;
  text-align: left;
  margin-bottom: 32px;
  background-repeat: repeat-y;
}
.iseno-home-hero-sectionpara-main {
  max-width: 700px;
  margin-bottom: 10px;
}
.iseno-home-hero-sectionpara-secondary {
  height: auto;
  font-size: 22px;
  max-width: 700px;
  margin-top: 16px;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 10px;
  text-transform: none;
  text-decoration: none;
}
.iseno-home-read-more-button-wrapper {
  flex: 0 0 auto;
  width: 100%;
  height: 212px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 80px;
  justify-content: flex-end;
}
.iseno-home-read-more-button-wrapperbox {
  flex: 0 0 auto;
  width: 156px;
  height: 156px;
  display: flex;
  margin-top: -24px;
  margin-right: 80px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-background2);
}
.iseno-home-read-more-button-wrappericon {
  width: 156px;
  height: 156px;
  margin-top: 0px;
  object-fit: cover;
  transition: 0.3s;
  margin-right: 80px;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-primary-background2);
}
.iseno-home-read-more-button-wrappericon:hover {
  padding-top: 20px;
}
.iseno-home-mission-section {
  flex: 0 0 auto;
  width: 100%;
  height: 724px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  font-weight: 700;
  padding-top: 120px;
  padding-left: 200.950px;
  margin-bottom: 0px;
  padding-right: 75.350px;
  flex-direction: column;
  padding-bottom: 120px;
  background-color: var(--dl-color-primary-background2);
}
.iseno-home-mission-section-heading {
  color: var(--dl-color-gray-text-secondary);
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}
.iseno-home-container1 {
  flex: 0 0 auto;
  width: 232px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 16px;
  display: flex;
  margin-top: 12px;
  align-items: flex-start;
  background-color: #e5e5e5;
}
@media(max-width: 991px) {
  .iseno-home-header {
    width: 100%;
  }
  .iseno-home-menu-wrapper {
    flex-direction: row;
  }
  .iseno-home-menu-wrapper-contactbox {
    align-self: center;
    flex-direction: column;
    justify-content: center;
  }
  .iseno-home-hero-section {
    top: 0px;
    right: -315px;
    width: 100%;
    max-width: 100%;
    margin-top: 116px;
    margin-left: 0px;
    margin-right: 340px;
  }
}
