.animated-block-light-animated-block-light {
  flex: 0 0 auto;
  width: 232px;
  height: 16px;
  display: flex;
  position: relative;
  margin-top: 12px;
  align-items: flex-start;
  background-color: #e5e5e5;
}

