.animated-block-dark-long-animated-block-black {
  flex: 0 0 auto;
  width: 35vw;
  height: 16px;
  display: flex;
  z-index: 3000;
  position: relative;
  margin-top: 24px;
  align-items: flex-start;
  background-color: var(--dl-color-primary-background2);
}
.animated-block-dark-long-root-class-name {
  width: 32vw;
  margin-top: 12px;
}
