.background-grid-wrapper3-background-grid-wrapper {
  width: 100vw;
  height: 300vh;
  display: flex;
  z-index: 100;
  grid-gap: 3px;
  position: relative;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-background-gray);
  grid-template-columns: 1fr 3fr 3fr;
}
.background-grid-wrapper3-root-class-name {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 250vh;
  margin: auto;
  position: absolute;
  align-self: stretch;
}
