.background-grid-wrapper-background-grid-wrapper {
  width: 100vw;
  height: 5395px;
  display: flex;
  z-index: 100;
  grid-gap: 3px;
  position: absolute;
  padding-bottom: 189px;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
  grid-template-columns: 1fr 3fr 3fr;
}
.background-grid-wrapper-root-class-name {
  top: -786px;
  left: 0px;
  width: 100%;
  position: absolute;
}
