.background-gray-grid-wrapperelement-box-background-gray-grid-wrapperelement-box {
  flex: 0 0 auto;
  width: 73vw;
  height: 50%;
  display: flex;
  z-index: 300;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 2px;
  flex-direction: row;
  background-color: var(--dl-color-gray-background-gray);
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.background-gray-grid-wrapperelement-box-root-class-name {
  top: 25%;
  right: 0px;
  width: 73.9%;
  height: 37%;
  margin: auto;
  position: absolute;
}
.background-gray-grid-wrapperelement-box-root-class-name1 {
  top: 25%;
  right: 0px;
  width: 73.9%;
  height: 37%;
  margin: auto;
  position: absolute;
}
