.background-grid-wrapper32-background-grid-wrapper {
  width: 100vw;
  height: 120vh;
  display: flex;
  z-index: 100;
  grid-gap: 3px;
  position: relative;
  border-color: #b13617;
  border-width: 5px;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-background-gray);
  grid-template-columns: 1fr 3fr 3fr;
}
.background-grid-wrapper32-root-class-name {
  height: 325vh;
}
