.component5-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.component5-text {
  color: var(--dl-color-gray-text-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.component5-text1 {
  color: var(--dl-color-gray-text-secondary);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
