.section-wrapper-light-section-wrapper-light {
  flex: 0 0 auto;
  width: 100%;
  height: 497px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: 152px;
  padding-left: 92.013px;
  padding-right: 92.013px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://iseno.net/images/t%C5%82o-1-iseno-.svg');
}
.section-wrapper-light-text {
  width: 896px;
  margin-top: 0px;
  text-align: left;
  margin-bottom: 32px;
}
.section-wrapper-light-text1 {
  max-width: 700px;
}
