:root {
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-primary-white: #ffffffff;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-gray-text-primary: #1a1b1fff;
  --dl-color-primary-backround1: #f5f5f5ff;
  --dl-color-gray-text-secondary: #fafafaff;
  --dl-color-primary-background2: #222222ff;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-text-primary);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-text-primary);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-text-primary);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-text-primary);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-text-primary);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-text-primary);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.menu-wrapper__contactbox__img-wrapper {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  transform: scale3d(1, 1, 1);
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-text-primary);
}

.Heading1 {
  font-size: 68px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 130%;
  text-transform: none;
  text-decoration: none;
}
.contentBold {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 150%;
  text-transform: lowercase;
  text-decoration: none;
}
.menuLinks {
  font-size: 18px;
  font-family: "DM Sans";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
  text-decoration: none;
}
.Heading2 {
  font-size: 36px;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 50px;
  text-transform: none;
  text-decoration: none;
}



